<!-- @dsCard group="Elrendezés" height=200 -->
<!doctype html>
<html lang="hu">
<head><meta charset="utf-8"><title>DotList</title></head>
<body>
<div id="root" class="ig-stack" style="max-width:420px"></div>
<script>
  var I = window.Igen, h = React.createElement;
  ReactDOM.createRoot(document.getElementById('root')).render(h(React.Fragment, null,
    h(I.DotList, { items: ['Egy briefből koncepció, költségvetés és szolgáltatói jelöltek', 'Ketten szervezitek, egy közös naptárban', 'A nagy nap menetrendje nyomtatható, a személyzet is látja'] })));
</script>
</body>
</html>
